@import '../../styles/variables';
nav.main-nav {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    li {
      a {
        font-family: $bold;
        &:hover {
          color: $text-secondary;
        }
        &.active {
          color: $text-active;
        }
      }
      +li {
        margin-left: 20px;
      }
    }
  }
}