@import 'variables';

html, ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: $primary-dark;
  font-family: $regular;
  color: $primary-light;
}

a {
  text-decoration: none;
  color: $text-light;
  &:visited {
    color: $text-light;
  }
}

li {
  list-style: none;
}
