$desktop-min: 1280px;
$tablet-max: 1279px;
$tablet-min: 769px;
$mobile-max: 768px;

$padding-tablet: 20px;
$padding-mobile: 24px;

$primary-dark: #455a64;
$primary-light: #cfd8dc;
$primary: #607d8b;
$text-primary: #212121;
$text-secondary: #757575;
$text-active: #00b8e1;
$text-light: #ffffff;
$divider: #bdbdbd;

$light: 'light';
$regular: 'regular';
$semi-bold: 'semi-bold';
$bold: 'bold';
